
<%= render partial: 'users/user', locals: { user: @user } %>

<% @posts.each do |post| %>
  <%= render partial: 'posts/post_with_comments', locals: { post: post } %>
<% end %>

<% if @posts.present? %>
  <%= link_to 'Pagination', user_post_path(@user, @posts.first) %>
<% else %>
  <p>No posts available for pagination.</p>
<% end %>
